.weatherApp {
  margin-top: 50px;
  padding: 10px, auto;
}

#card {
  background-color: white;
  border-radius: 8px;
  box-shadow: 1px;
  max-width: 600px;
  margin: 30px auto;
}

#buttons {
  font-size: 20px;
}

h1 {
  font-family: "Quicksand", sans-serif;
}

h4 {
  font-family: "Roboto Flex", sans-serif;
  font-size: 14px;
}

#iconElement {
  margin-right: 5px;
  height: 64px;
  width: 64px;
}

#iconElement,
#temperature {
  font-size: 40px;
}

#units {
  font-family: "Quicksand", sans-serif;
  font-size: 16px;
  font-weight: 600;
  position: relative;
  top: -25px;
}

#detail {
  font-size: 14px;
  font-weight: 500;
  top: 15px;
  float: left;
  text-align: left;
}

p,
#detail {
  font-family: "Roboto Flex", sans-serif;
}

p {
  font-size: medium;
}

ul {
  list-style: none;
}

body {
  background: url("../image/plant.jpg");
  background-repeat: no-repeat;
  background-size: 100% auto;
  background-position: center;
}

h4:first-letter {
  text-transform: capitalize;
}

#search-form {
  padding-left: 10px;
}

.weather-forecast {
  margin-top: 10px;
  margin-bottom: 20px;
  text-align: center;
}

.weather-forecast-date {
  font-family: "Roboto Flex", sans-serif;
  font-size: 16px;
}

.weather-forecast-temp {
  font-size: 14px;
}

.weather-forecast-low {
  opacity: 0.8;
}

.footer {
  font-weight: thin;
  top: 0;
  right: 0%;
  position: absolute;
}

#github {
  text-decoration: none;
  color: #425c49;
}
